<p id="notice"><%= notice %></p>

<p>
  <strong>Waitingtime:</strong>
  <%= @entertainement.waitingtime %>
</p>

<%= link_to 'Edit', edit_entertainement_path(@entertainement) %> |
<%= link_to 'Back', entertainements_path %>
