<p id="notice"><%= notice %></p>

<p>
  <strong>Nbr advice item:</strong>
  <%= @cross_selling.nbr_advice_item %>
</p>

<%= link_to 'Edit', edit_cross_selling_path(@cross_selling) %> |
<%= link_to 'Back', cross_sellings_path %>
