<!DOCTYPE html>
<html>
<head>

  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <title>PFE1</title>
  <a href="/clients">clients</a>
  <a href="/clothings">clothings</a>
  <a href="/cross_sellings">cross_sellings</a>
  <a href="/entertainements">entertainements</a>
  <a href="/gamings">gamings</a>
  <a href="/installation_data">installation_data</a>
  <a href="/items">items</a>
  <a href="/orders">orders</a>
  <a href="/owners">owners</a>
  <a href="/parse_data">parse data</a>
  <a href="/payment_data">payment_data</a>
  <a href="/preferences">preferences</a>
  <a href="/selections">selections</a>
  <a href="/social_data">social_data</a>
  <a href="/stores">stores</a>
  <a href="/users">users</a>
  <a href="/visits">visits</a>

<%= yield %>

</body>
</html>
